<%- include('./includes/head.ejs') %>
  <body>
    <div class="wrapper">
    <h1>Lista rzeczy do zrobienia</h1>
    <% if (taskErrorMessage) { %><div class="task_error_message"><%= taskErrorMessage %></div><% } %>
    <form action="/task/create" method="post">
      <input type="text" name="taskname" id="taskname"/>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button type="submit" class="btn task_btn_add">Dodaj</button>
    </form>
    <% if (tasks.length > 0) { %> <% for (let task of tasks) { %>
    <div class="item_task">
      <div>
        <form action="/task/edit" method="post">
          <input type="hidden" name="editMode" value="true" />
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="hidden" name="taskID" value="<%= task._id %>" />
          <button type="submit" class="btn_none"><i class="bi <% if (!task.finish) { %>bi-circle<% } else { %>bi-check-circle<% } %>"></i></button>
        </form>
      </div>
      <div class="item_task_name"><%= task.name %></div>
      <form action="/task/delete" method="post" class="item_task_form">
        <a href="/task/edit/<%= task._id %>" class="btn">Edytuj</a>
        <input type="hidden" name="taskID" value="<%= task._id %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit" class="btn">Usuń</button>
      </form>
    </div>
    <% } %> <% } %>
  </div>
  </body>
</html>
